# Исключить виртуальное окружение
venv/
env/

# Исключить файлы конфигурации с паролями и секретными ключами
.env
config.py

# Исключить временные файлы и каталоги
__pycache__/
*.pyc
*.pyo

# Исключить файлы IDE
.idea/
.vscode/

# Исключить файлы базы данных SQLite
*.db
